<div class"card">
  <blockquote class="blockquote mb-0">
  <div class="container">
    <div class"row">
      <h2 class="section-ttl">車名編集</h2>
         <%= render 'shared/car_name_form', car_name: @car_name, url: admin_car_name_path(@car_name) %>
    </div>
  </div>
  </blockquote>
</div>
