<div class="card-body">
  <blockquote class="blockquote mb-0">
    <h2 class="font-weight-normal"><%= @employee.full_name %>さんのページ</h2>
	    <%= render partial: 'shared/employee_table', locals: { employee: @employee } %>
	    <tr>
		    <td>
		    	<%= link_to edit_company_employee_path(company_id: current_company.id, id: @employee.id), class: "btn btn-outline-success btn-sm btn-block" do %>
		    	 <i class="fa-solid fa-pen-to-square"></i> 編集
		    	<% end %>
		    </td>
	    </tr>
	    <tr>
		    <td>
		    	<%= link_to company_employees_path(company_id: current_company.id), class: "btn btn-outline-primary btn-sm btn-block" do %>
		    	  <i class="fa-solid fa-users"></i> 社員一覧へ
		      <% end %>
		    </td>
	    </tr>
  </blockquote>
</div>