<div class="container-fluid">
  <div class="card jumbotron bg-light">
    <div class="row">
      <h2 class="col-sm-10 mx-auto mb-3"><%= @employee.full_name %>のタスク状況</h2>
      <table class="table col-sm-10 mx-auto">
        <thead>
          <tr>
            <th>タスク名</th>
            <th>タスク内容</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @daily_tasks.each do |daily_task| %>
            <% task = daily_task.task %>
              <tr>
                <td><%= task.name %></td>
                <td><%= task.body %></td>
                <td>
                  <% if daily_task.completed %>
                   完了
                 <% else %>
                   未完了
                 <% end %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-10 mx-auto">
      <%= link_to company_employee_calendar_path(@company, @employee), class: "btn btn-outline-primary" do %>
        <i class="fa-solid fa-circle-left"></i> 戻る
      <% end %>
    </div>
  </div>
</div>