<div class="container">
  <div class="row">
    <h1>タスク一覧</h1>
      <%= month_calendar(events: @daily_tasks) do |date, events| %>
        <%= date.day %>
        <% if events.size == 0 %>
          <%= link_to_if current_employee, "タスク未入力", new_company_daily_task_path(@company, date: date) %>
        <% elsif events.size == @tasks.size %>
          OK
        <% else %>
          <%= link_to_if current_employee, "#{events.size}/#{@tasks.size}", new_company_daily_task_path(@company, date: date) %>
        <% end %>
      <% end %>
  </div>
</div>
