<div class="card bg-light">
  <h3 class="text-center my-5">企業情報編集</h3>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <%= render 'shared/company_form', company: @company, url: companies_mypage_path %>
    </div>
  </div>
</div>