  <div class="card jumbotron bg-light">
    <h4 class="text-center mb-3"><%= @company.company_name %>様の社員一覧</h4>
    <%= render 'shared/employee_index', company: @company, employees: @employees, employee: @employee %>
    <%= render 'shared/pagination', items: @employees %>
  </div>
