<h1>社員一覧</h1>
<div class="card">
  <div class="container">
    <table class="table">
      <therd>
        <tr>
          <th>所属</th>
          <th>社員名</th>
          <th>メールアドレス</th>
          <th></th>
        </tr>
      </therd>
      <tbody>
        <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.store.name %>店</td>
          <td><%= link_to "#{employee.full_name}の詳細ページ", admin_company_employee_path(id: employee.id, company_id: @company.id), class: "text-dark border-bottom border-dark" %></td>
          <td><%= employee.email %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>