<div class="card">
  <blockquote class="blockquote mb-0">
  <div class="container">
    <h1><%= @employee.full_name %>さんの詳細</h1>
    <div class="row">
      <%= render partial: 'shared/employee_table', locals: { employee: @employee } %>
      <tr>
		    <td><%= link_to "編集", edit_admin_company_employee_path(@employee), class: "btn btn-outline-success btn-sm btn-block" %></td>
	    </tr>
	    <tr>
		    <td><%= link_to "社員一覧へ戻る", admin_company_employees_path(company_id: @company.id), class: 'btn btn-outline-primary btn-block' %></td>
	    </tr>
    </div>
  </div>
  </blockquote>
</div>