<div class="card jumbotron bg-light">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h4 class="mb-5 text-color text-center mb-3"><%= @company.company_name %>の会員情報編集</h4>
      <%= render 'shared/company_form', company: @company, url: admin_company_path %>
    </div>
  </div>
</div>