<div class="card jumbotron bg-light">
  <div class="row">
    <h2 class="col-md-10 mx-auto mb-3">顧客一覧</h2>
    <%= render 'index', companies: @companies %>
  </div>
  <%= render 'shared/pagination', items: @companies %>
</div>