<div class="container-fluid">
  <blockquote class="blockquote mb-0">
    <div class="card jumbotron bg-light">
      <h2 class="text-center mb-3">投稿編集</h2>
      <%= form_with(model: @post, local: true) do |f| %>
  			  <%= render 'layouts/error_messages', resource: @post %>
          <%= render 'shared/post_form', f: f %>
          <%= render 'shared/post_edit', f: f, post: @post %>
      <% end %>
    </div>
  </blockquote>
</div>

