<div class="card jumbotron bg-light">
  <h4 class="mb-5 text-color text-center">投稿編集</h4>
  <%= form_with(model: @post, local: true, multipart: true) do |f| %>
	  <%= render 'layouts/error_messages', resource: @post %>
	  <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <%= render 'shared/post_form', f: f %>
        <%= render 'shared/post_edit', f: f, post: @post %>
      </div>
    </div>
  <% end %>
</div>

