<div class="card jumbotron bg-light">
  <h4 class="mb-5 text-color text-center">新規投稿</h4>
  <%= form_with(model: @post, url: '/posts', local: true) do |f| %>
	  <%= render 'layouts/error_messages', resource: @post %>
	  <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <%= render 'shared/post_form', f: f %>
        <div class="row mt-3 mb-5">
          <div class="col-md-6 mx-auto">
            <div class="button-layout">
              <button type="submit" class="btn btn-outline-primary btn-block">
                <i class="fa-solid fa-registered"></i> 登録
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
