<div class="container-fluid">
  <div class="card jumbotron mx-auto bg-light">
    <blockquote class="blockquote mb-0">
        <h2 class="col-sm-10 mx-auto text-center">新規投稿</h2>
			  <%= form_with(model: @post, url: '/posts', local: true) do |f| %>
  			  <%= render 'layouts/error_messages', resource: @post %>
          <%= render 'shared/post_form', f: f %>
          <div class="col-sm-10 mx-auto mb-3">
            <%= f.submit  '新規登録', class: 'btn btn-outline-primary btn-block' %>
          </div>
        <% end %>
    </blockquote>
  </div>
</div>