<div class="card jumbotron mx-auto">
	<h2 class="text-center mb-3">タスク管理</h2>
	<div class="card-body mb-3">
		<div class="container-fluid">
		  <h3>タスク編集</h3>
		    <%= render 'shared/task_form', task: @task, url: admin_task_path(@task), submit: '保存' %>
		</div>
  </div>
</div>