<div class="container-fluid">
	<div class="card jumbotron bg-light mx-auto">
		<h2 class="text-center mb-3">タスク管理</h2>
		<h3 class="col-sm-5 mx-auto mb-3">タスク編集</h3>
		<%= render 'shared/task_form', task: @task, url: admin_task_path(@task) %>
	</div>
</div>