<div class="card jumbotron">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <p class="mb-5 text-center"><%= image_tag("repair service.png", class: "rounded-circle", style: "width: 200px; height: 200px;") %></p>
      <h4 class="mb-5 text-center">社員ログイン</h4>
      <%= form_with model: @employee, url: employee_session_path, local: true do |f| %>
        <%= render 'shared/session_new', f: f %>
      <% end %>
    </div>
  </div>
</div>
