<div class="container">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h1 class="display-1 mb-4">About</h1>
      <h3>
        Mecha_Naviは整備を正確かつ効率的にするものです。<br>
        整備スタッフのスキルアップ、<br>
        コンディションの向上に繋がればと思います。<br>
        「いつ」でも「どこ」でも、投稿したものならご確認いただけます。<br>
        ぜひ皆さんでご投稿ください。
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
      <%= image_tag "kougu.jpg", class: "img-fluid rounded" %>
    </div>
  </div>
</div>