<div class="card bg-light">
  <h3 class="text-center my-5">投稿履歴一覧</h3>
  <div class="row">
    <div class="table-responsive col-10 col-md-10 mx-auto">
      <table class="table">
        <%= render partial: 'shared/table_header' %>
      </table>
    </div>
  </div>
  <div class="my-5">
    <%= render 'shared/pagination', items: @recent_posts %>
  </div>
</div>