<div class="card jumbotron bg-light">
  <div class="row">
    <h4 class="col-md-10 mx-auto mb-3"><%= @company.company_name %>様の投稿履歴一覧</h4>
    <div class="table-responsive">
      <table class="table col-md-10 mx-auto">
        <%= render partial: 'shared/table_header' %>
      </table>
    </div>
  </div>
  <%= render partial: 'shared/pagination', locals: { items: @recent_posts } %>
</div>