<div class="container-fluid">
  <div class="card jumbotron bg-light mx-auto">
		<h2 class="col-sm-5 mx-auto text-center">店舗編集</h2>
		<%= render 'shared/store_form', store: @store, url: company_store_path(current_company.id, @store) %>
  </div>
</div>