<div class="card jumbotron" style="margin-bottom: 0px;">
	<div class="container">
		<h2 class="text-center">店舗編集</h2>
		<%= render 'shared/store_form', store: @store, url: store_path(@store) %>
  </div>
</div>