<div class="card jumbotron">
	<h2 class="text-center mb-3">店舗管理</h2>
	<div class="card-body text-center mb-3">
		<h3>店舗新規登録</h3>
  	<%= render 'shared/store_form', store: @store, url: stores_path(@store), submit: '登録' %>
		<h3>店舗一覧</h3>
		<table class="table table-bordered col-10 mx-auto">
			<thead>
				<tr>
					<th>店舗名</th>
					<th>状態</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @stores.each do |store| %>
					<tr>
						<td><%= link_to store.name, store_path(store.id), class: "underline" %>店</td>
						<td>
							<% if store.is_active? %>
								<p class="text-success">有効</p>
							<% else %>
								<p class="text-secondary">無効</p>
							<% end %>
						</td>
						<td class="text-center"><%= link_to "編集", edit_store_path(store), class: "col-4 btn btn-outline-success btn-sm" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>