<div class="card jumbotron bg-light mx-auto">
  <h2 class="text-center">店舗管理</h2>
  <div class="mb-3">
    <h3 class="col-sm-5 mx-auto mb-3">新規登録</h3>
    <%= render 'shared/store_form', store: @store, url: company_stores_path(current_company.id, @store) %>
  </div>
  <div class="mb-3">
    <h3 class="col-sm-10 mx-auto">店舗一覧</h3>
    <div class="table-responsive">
			<table class="table col-sm-10 mx-auto">
				<thead class="thead-light">
					<tr>
						<th>店舗名</th>
						<th>状態</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @stores.each do |store| %>
						<tr>
							<td><%= link_to store.name, company_store_path(current_company.id, store), class: "underline" %>店</td>
							<td>
								<% if store.is_active? %>
									<p class="text-success">有効</p>
								<% else %>
									<p class="text-secondary">無効</p>
								<% end %>
							</td>
							<td>
								<%= link_to edit_company_store_path(current_company.id, store), class: "btn btn-outline-success" do %>
								  <i class="fa-solid fa-pen-to-square"></i> 編集
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
　<%= render partial: 'shared/pagination', locals: { items: @stores } %>
</div>
