<div class="container-fluid">
  <div class="card jumbotron bg-light mx-auto">
    <h2 class="text-center">店舗管理</h2>
	  <div class="mb-3">
	    <h3 class="col-sm-5 mx-auto mb-3">新規登録</h3>
	    <%= render 'shared/store_form', store: @store, url: company_stores_path(current_company.id, @store) %>
	  </div>
    <div class="mb-3">
	    <h3 class="col-sm-10 mx-auto">店舗一覧</h3>
			<table class="table col-sm-10 mx-auto">
				<thead>
					<tr>
						<th>店舗名</th>
						<th>状態</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @stores.each do |store| %>
						<tr>
							<td><%= link_to store.name, company_store_path(current_company.id, store), class: "underline" %>店</td>
							<td>
								<% if store.is_active? %>
									<p class="text-success">有効</p>
								<% else %>
									<p class="text-secondary">無効</p>
								<% end %>
							</td>
							<td class="text-center"><%= link_to "編集", edit_company_store_path(current_company.id, store), class: "btn btn-outline-success col-sm-3" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	　<%= render partial: 'shared/pagination', locals: { items: @stores } %>
	</div>
</div>