  <div class="col-md-10 mx-auto">
    <h2 class="text-center">社員一覧</h2>
  </div>
  <div class="col-md-12">
    <% store_names = employees.map { |employee| employee.store.name }.uniq %>
    <% store_names.each do |store_name| %>
      <h4 class="col-md-10 mx-auto"><%= store_name %>店</h4>
      <div class="table-responsive">
        <table class="table col-md-10 mx-auto">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">社員名</th>
              <th scope="col">メールアドレス</th>
              <th scope="col">ステータス</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% employees_of_store = employees.select { |employee| employee.store.name == store_name } %>
            <% employees_of_store.each do |employee| %>
              <tr>
                <% if employee.is_active == true %>
                  <th scope="row"><%= employees.index(employee) + 1 %></th>
                  <td><%= link_to "#{employee.full_name}", history_posts_path(employee_id: employee.id), class: "text-blue border-bottom border-dark" %></td>
                  <td><%= employee.email %></td>
                  <td><p class="text-success">有効</p></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
