<thead class="thead-light">
  <div class="row table-row">
    <div class="col-8 mx-auto">
      <tr>
        <th>投稿者</th>
        <th>最近の投稿件数</th>
        <th>投稿全件数</th>
        <th>いいね全件数</th>
        <th></th>
      </tr>
    </div>
  </div>
</thead>