<div class="card jumbotron bg-light mx-auto">
  <div class="container-fluid ">
	  <h2 class="section-ttl text-center">ジャンル編集</h2>
      <%= render 'shared/genre_form', genre: @genre, url: admin_genre_path(@genre) %>
  </div>
</div>
