<div class="container-fluid ">
  <div class="card jumbotron bg-light mx-auto">
	  <h2 class="text-center mb-3">ジャンル編集</h2>
      <%= render 'shared/genre_form', genre: @genre, url: admin_genre_path(@genre) %>
  </div>
</div>
