<div class="card jumbotron bg-light">
  <div class="row">
    <div class="col-7">
  　　<div class="admin-heading col-7">
    　　<h4>投稿履歴一覧</h4>
  　　</div>
  　　<div class="col-8"></div>
　　</div>
    <div class="col-12 mx-auto">
      <table class="table table-hover rounded-top rounded-bottom table_border_radius admin-order-table">
        <thead class="thead-dark">
          <div class="row table-row">
           <div class="col-8 mx-auto">
            <table class="table">
             <thead class="thead-light">
              <tr>
                <th>企業名</th>
                <th>社員投稿者数</th>
                <th>投稿件数</th>
              </tr>
        </thead>
        <tbody>
          <% @employees.group_by(&:company).sort_by { |company, employees| -employees.sum { |e| e.posts.count } }.reject { |company, employees| employees.sum { |e| e.posts.count } == 0 }.each do |company, employees| %>
           <tr>
            <td><%= link_to "#{company.company_name}", admin_company_employee_posts_path(company_id: company.id, employee_id: employees.first.id), class: "text-b border-bottom border-dark" %></td>
            <td><%= company.posts.distinct.count(:employee_id) %>人</td>
            <td><%= employees.sum { |e| e.posts.count } %>件</td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>