
<div class="card jumbotron mx-auto">
	<h2 class="text-center mb-3">店舗管理</h2>
	<div class="card-body mb-3">
		<div class="container-fluid">
			  <h3>店舗編集</h3>
			    <%= render 'shared/store_form', store: @store, url: admin_stores_path(@store), submit: '編集' %>
		</div>
  </div>
</div>