
  <div class="card jumbotron bg-white">
    <h3 class="display-5 mb-3"><%= @employee.full_name %>の投稿履歴</h3>
    <div class="col-md-8 mb-3">
      <%= link_to admin_company_employee_posts_path(@company, @employee), class: 'btn btn-outline-primary' do %>
        <i class="fa-solid fa-circle-left"></i> 戻る
      <% end %>
    </div>
    <%= render partial: 'shared/post', collection: @posts %>
    <%= render partial: 'shared/pagination', locals: { items: @posts } %>
  </div>
