<div class="card jumbotron bg-light">
  <div class="row">
    <h4 class="mb-3"><%= @company.company_name %>様の投稿履歴一覧</h4>
    <div class="col-md-12 mx-auto">
      <%= link_to '戻る', admin_top_path, class: "btn btn-outline-primary mb-3" %>
    </div>
    <div class="table-responsive">
      <table class="table">
        <%= render 'shared/table_header' %>
      </table>
    </div>
  </div>
  <%= render partial: 'shared/pagination', locals: { items: @recent_posts } %>
</div>