<div class="card jumbotron bg-light">
  <div class="row">
    <h4 class="col-md-10 mx-auto mb-3"><%= @company.company_name %>様の投稿履歴一覧</h4>
    <div class="table-responsive">
      <table class="table col-md-10 mx-auto">
        <%= render 'shared/table_header' %>
      </table>
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-md-5 mx-auto">
      <%= link_to admin_top_path, class: "btn btn-outline-primary btn-block mb-3" do %>
        <i class="fa-solid fa-clock-rotate-left"></i> 投稿履歴へ
      <% end %>
    </div>
  </div>
  <%= render partial: 'shared/pagination', locals: { items: @recent_posts } %>
</div>