<section class="inner">
	<h2 class="section-ttl">車名管理</h2>
	<div class="mb3">
		<h3>車名新規登録</h3>
		<%= render 'shared/car_name_form', car_name: @car_name, url: car_names_path(@car_name), submit: '登録' %>
	</div>
	<div class="mb3">
		<h3>車名一覧</h3>
		<table class="genre_info has_border">
			<thead>
				<tr>
					<th>車名</th>
					<th>型式</th>
					<th>状態</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @car_names.each do |car_name| %>
					<tr>
						<td><%= link_to car_name.name, car_names_path(car_name_id: car_name.id), class: "underline" %></td>
						<td><%= link_to car_name.car_type, car_names_path(car_name_id: car_name.id), class: "underline" %></td>
						<td>
							<% if car_name.is_active? %>
								<span class="text-active">有効</span>
							<% else %>
								<span class="text-invalid">無効</span>
							<% end %>
						</td>
						<td class="text-center"><%= link_to "編集", edit_car_name_path(car_name), class: "btn btn-success" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</section>