<div class="card jumbotron">
  <blockquote class="blockquote mb-0">
    <div class="container">
      <%= form_with(model: @post, url: company_employee_post_path(company_id: current_company.id, employee_id: current_company.employee_ids, id: @post.id), method: :patch, local: true) do |f| %>
        <%= render 'shared/post_form', f: f, user_type: "company" %>
        <%= render 'shared/post_edit', f: f, post: @post %>
      <% end %>
    </div>
  </blockquote>
</div>
