<h3 class="text-center mb-3">社員一覧</h3>
<div class="row">
  <% store_names = employees.map { |employee| employee.store.name }.uniq %>
  <% store_names.each do |store_name| %>
    <h5 class="col-sm-10 mx-auto mb-3"><%= store_name %>店</h5>
    <div class="table-responsive">
      <table class="table col-sm-10 mx-auto">
        <thead class="thead-light">
          <tr>
            <th>社員ID</th>
            <th>社員名</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% employees_of_store = employees.select { |employee| employee.store.name == store_name } %>
          <% employees_of_store.each do |employee| %>
            <tr>
              <td><%= employee.id %></td>
              <td><%= link_to "#{employee.full_name}", company_employee_path(company_id: current_company.id, id: employee.id), class: "text-blue border-bottom border-dark" %></td>
              <td>
                <% if employee.is_active == true %>
                  <p class="text-success">有効</p>
                <% else %>
                  <p class="text-secondary">退職</p>
                <% end %>
              </td>
              <td>
                <% if employee.is_active == true %>
                  <%= link_to company_employee_calendar_path(@company, employee), class: "btn btn-outline-primary" do %>
                    <i class="fa-solid fa-calendar-days"></i> タスク進捗
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
