<div class="container-fluid">
  <div class="card jumbotron bg-light mx-auto">
    <%= render 'index', employees: @employees %>
    <%= render partial: 'shared/pagination', locals: { items: @employees } %>
  </div>
</div>