<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title display-2">About</h5>
         <p class="card-text">Mecha_Naviは整備を正確かつ効率的にするものです。
                              整備スタッフのスキルアップ、
                              コンディションの向上に繋がればと思います。
                              「いつ」でも「どこ」でも、投稿したものならご確認いただけます。
                              ぜひ皆さんでご投稿ください。</p>
    </div>
        <img src=<%= asset_path('kougu.jpg') %> class="img-fluid" style="max-width: 100%; height: auto;" alt="Responsive image">
   </div>
</div>

