<div class="card jumbotron bg-light">
  <h4 class="col-12 col-md-10 mx-auto mb-3">タスクカレンダー</h4>
  <div class="table-responsive col-12 col-md-10 mx-auto">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= month_calendar(events: @daily_tasks) do |date, events| %>
            <% @employee = current_employee %>
              <%= date.day %>
              <% if events.size == 0 %>
                <%= link_to_if current_employee, "タスク未入力", new_employee_daily_task_path(@employee, date: date) %>
              <% elsif events.size == @tasks.size %>
                完了
              <% else %>
                <%= link_to_if current_employee, "#{events.size}/#{@tasks.size}", new_employee_daily_task_path(@employee, date: date) %>
              <% end %>
            <% end %>
    　　　　</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>