<div class="card jumbotron bg-light">
  <h3 class="col-sm-10 mx-auto mb-3">タスクカレンダー</h3>
  <div class="row">
    <div class="card col-sm-10 mx-auto">
      <%= month_calendar(events: @daily_tasks) do |date, events| %>
      <% @employee = current_employee %>
        <%= date.day %>
        <% if events.size == 0 %>
          <%= link_to_if current_employee, "タスク未入力", new_employee_daily_task_path(@employee, date: date) %>
        <% elsif events.size == @tasks.size %>
          完了
        <% else %>
          <%= link_to_if current_employee, "#{events.size}/#{@tasks.size}", new_employee_daily_task_path(@employee, date: date) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
