<section class="inner">
	<h2 class="section-ttl">タスク編集</h2>
  <%= render 'form', task: @task, url: public_task_companies_path(@task), submit: '更新' %>
  <%= button_to "削除", destroy_public_task_path(@task), method: :delete, data: { confirm: "削除してもよろしいですか？" } %>
</section>