<div class="card jumbotron">
	<h2 class="text-center mb-3">タスク管理</h2>
	<div class="card-body mb-3">
		<div class="container-fluid">
		<h3>タスク新規登録</h3>
		  	<%= render 'form', task: @task, url: company_tasks_path(@tasks), submit: '登録' %>
		  <h3>一覧</h3>
		  <div class="table-responsive-sm">
			  <table class="table">
				  <thead>
					  <tr>
						  <th>タスク名</th>
						  <th>タスク内容</th>
						  <th></th>
					  </tr>
				  </thead>
				  <tbody>
					  <% @tasks.each do |task| %>
						  <tr>
							  <td><%= task.name %></td>
							  <td><%= task.body %></td>
							  <td class="text-center">
							  	<%= link_to edit_company_task_path(company_id: current_company.id, id: task.id), class: "btn btn-outline-success" do %>
							  	 <i class="fa-solid fa-pen-to-square"></i> 編集
							  	<% end %>
							  </td>
						  </tr>
					  <% end %>
				  </tbody>
			  </table>
		  </div>
	  </div>
  </div>
</div>
