<div class="container">
  <h1>タスク一覧</h1>
  <h2><%= @employee.full_name %></h2>
  <div class="row">
    <div class="card col-12 mx-auto">
      <%= month_calendar({ events: @daily_tasks, company_id: @company.id }) do |date, events| %>
        <%= date.day %>
        <% if events.size == 0 %>
          タスク未入力
        <% elsif events.size == @tasks.size %>
          完了
        <% else %>
          "#{events.size}/#{@tasks.size}"
        <% end %>
      <% end %>
    </div>
  </div>
</div>