<div class="container-fluid">
	<div class="card jumbotron bg-light mx-auto">
	  <h2 class="col-sm-5 mx-auto text-center mb-3">車名編集</h2>
	  <%= render 'shared/car_name_form', car_name: @car_name, url: company_car_name_path(current_company.id, @car_name) %>
  </div>
</div>