
<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2 class="error">エラーが発生しました。以下ご確認お願いいたします。</h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="error"><%= raw message %></li>
      <% end %>
    </ul>
  </div>
<% end %>