<div class="card-footer text-muted"
 <footer>
   <p class="text-center">Mecha Navi © 2024 All rights reserved by Infratop.Inc.</p>
   <div class="d-flex justify-content-center">
     <a href="#" class="mx-2 text-dark"><i class="fa-brands fa-instagram fa-2x"></i></a>
     <a href="#" class="mx-2 text-dark"><i class="fab fa-x-twitter fa-2x"></i></a>
     <a href="#" class="mx-2 text-dark"><i class="far fa-envelope fa-2x"></i></a>
    
   </div>
 </footer>
</div>