  <form class="form-inline my-2 my-lg-0" action="<%= search_path %>" method="get">
    <%= collection_select "", :genre_id, genres, :id, :name, { include_blank: "全ジャンル", selected: params[:genre_id] }, { class: "form-control" } %>
    <input class="form-control mr-sm-2" type="search" placeholder="キーワード検索" aria-label="Search" name="word" value="<%= params[:word] %>">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>