<div class="container-fluid">
  <div class="card jumbotron bg-light mx-auto">
  	<h2 class="col-sm-5 mx-auto text-center mb-3">ジャンル編集</h2>
    <%= render 'shared/genre_form', genre: @genre, url: company_genre_path(current_company.id, @genre) %>
  </div>
</div>
